@use "mixins" as m;
@use "variables" as v;

.about {
  font-size: 28px;
  line-height: 1.3;
  margin-top: calc(40vw - 60px);

  @include m.breakpoint(v.$md) {
    font-size: 32px;
  }

  @include m.breakpoint(v.$lg) {
    margin-top: calc(20vw - 60px);
    font-size: 5vw;
  }
}

.tech {
  margin-top: 60px;

  @include m.breakpoint(v.$lg) {
    margin-top: 10vw;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;

    @include m.breakpoint(v.$lg) {
      margin-bottom: 50px;
    }
  }
}
